/* ---------------------------------------------------
                    BARANGAY MODULE CSS
--------------------------------------------------- */

#barangayHomeContent{
    margin-left: -2%;
    margin-right: 5%;
}

.patientQCounter {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding:2%;

}

.patientQueueButtons p,
h6 {
    text-align: center;
}

.patientQueueButtons h6 {
    padding-top: 10%;
}

#confirmationNotif{
    border-radius: 12px;
    font-size: 25px;
    text-align: left;
    width: 100%;
}

.fontColor{
    color: #ffffff;
}

#numberAvailable{
    background: #68A0B8;
}

#numberSent{
    background: #4F91AD;
}

#claimedStubs{
    padding: 5%;
    background: #3681A1;
}

#redirectStub{
    background: #1D7195;
}

.notif {
    border-radius: 12px;
    border: #000 solid 1px;
    margin-right: auto;
    margin-left: auto;
}
