
/* ---------------------------------------------------
                    HSO MODULE CSS
--------------------------------------------------- */
#vaccineName,
#vaccineManufacturer,
#dosageRequired,
#dosageInterval,
#minimumTemperature,
#maximumTemperature,
#lifeSpan {
    height: auto;
}

#vaccineType,#vaccineEfficacy{
    height: 8%;
}


.AddHealthD-option > ul{
    list-style-type: none;
    column-count: 4;
    column-gap: 2rem;
}

input[type=text1] {
    margin-top: 8px;
    font-size: 17px;
    border: whitesmoke;
    background: whitesmoke;
    width: 75%;
    height: auto;
}

.vaccineType, #qty,#source{
    width: 95%;
    height: 18%;
}

.viewReportBtn, .archiveVaxBtn {
    background: #DCF4FF;
    border: 1px solid black;
    width: fit-content;
    height: 40px;
    color: #000!important;
    margin: 5%;
    border-radius: 12px;
    font-size: 85%;
}

.CounterReportContainer {
    margin-top: 10%;
}

.editRepBtn{ /*HSO*/
    margin-top: 2%;
}
.counter-box { /*HSO*/
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
}

.counter-box p { /*HSO*/
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
}

.counter-box i { /*HSO*/
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    line-height: 28px
}

.counter-box.colored1 {
    background: #68A0B8
}

#totalReports {
    background: #68A0B8;
}

#totalVerified{
    background: #3681A1;
}

#totalInvalidate{
    background: #1D7195;
}

#totalPending{
    background: #4F91AD;
}

.counter-box.colored1 p,
.counter-box.colored1 i,
.counter-box.colored1 .counter {
    color: #fff
}

.counter-box.colored2 {
    background: #4F91AD
}

.counter-box.colored2 p,
.counter-box.colored2 i,
.counter-box.colored2 .counter {
    color: #fff
}
.counter-box.colored3 {
    background: #3681A1
}

.counter-box.colored3 p,
.counter-box.colored3 i,
.counter-box.colored3 .counter {
    color: #fff
}

.counter-box.colored4 {
    background: #1D7195
}

.counter-box.colored4 p,
.counter-box.colored4 i,
.counter-box.colored4 .counter {
    color: #fff
}

.counter-box p, .counter-box span { /*HSO*/
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.counter-box span{
    font-size: 29px;
}

.tableReport {
    width: 100%!important;
    background-color: white;
    border-radius: 12px;
    margin-top: 1%;
}

.tableVax{
    background-color: white;
    border-radius: 12px;
    margin-top: 1%;
}

.depSum h5{
    padding: 2%;
}



.content-modal-table{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: fit-content;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

.content-modal-table1{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 70%;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.counterColumn{ /*HSO*/
    float: right;
    width: 100%;
    margin: 2%;
    margin-top: 4%;
}

.counterRow { /*HSO*/
    width: 100%;
}

.contactWidth, .districtWidth{ /*HSO*/
    width: 100%;
    margin: 1%;
}
#district{
    height: 40vh;
}

.VaxSiteWidth{
    width: 100%;
}

#HealthDModalSort{
    margin: 2%;
}

.tableContainer{ /*HSO*/
    background-color: #ececec;
    padding: 2%;
    border-radius: 12px;
}



/*HSO*/
#addVaccineModal{
    margin-left: 4%;
    margin-right: -10%;
}

#addNewVaccineModal{
    margin-left: 4%;
    margin-right: 4%;
}

#addDeploymentModal{
    margin-left: 3%;
    margin-right: 3%
}

#description{
    margin-left:5%;
    margin-right: 5%;
    padding: 2%;
}

.tablePatient,.tableVaccine { /*HSO*/
    width: 100%!important;
    background-color: white;
}

#labelDosage{
    margin-top: 9%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #17A2B8;
}
.dropdown-menu{
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}
.dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
}

.depSummary { /*HSO*/
    float: right;
    border-radius: 10px;
    width: 100%;
    max-height: fit-content;
    min-height: 65vh;
    padding: 3%;
    margin-top: 2%;
    background-color: #68A0B8;
    color: white;
    margin: 2%;
    margin-top: 4%;
}
.bold{
    font-weight: 800!important;
}

.listPatient-box h3{ /*HSO*/
    color: white;
}

.counter{
    width: fit-content;
    font-size: 60%;
    color: cadetblue;
    margin-top: 1%;
}

.closeModal{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#unarchiveContent{
    height: auto;
    margin-top: 1%;
}

#searchReportHSO{ /*HSO*/
    width: 100%;
}
#searchVaccineHSO{
    width: 65%;
}

#searchpatientHSO{ /*HSO*/
    width: 100%;
}

.jabsPortion{
    height: 30vh;
}

.vaxStats{
    height: 60vh;
}

.vaxInv{
    height: 60vh;
}

.vaxCount{
    height: 30vh;
}

#deploymentModal{
    margin-left: 3%;
    margin-right: 3%;
}


#siteModal{ /*hso*/
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.tableHeader{
    background-color: #034E6E;
    color: #fafafa;
}
.portionDash{ /*hso*/
    border-radius: 12px;
    background-color: white;
    margin: .3em;
    padding: 3%;
}
/*HSO MODULE*/
#deploymentModal{
    margin-left: 3%;
    margin-right: 3%;
}

#healthDMain{
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}

#siteModal{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.tableHeader{
    background-color: #034E6E;
    color: #fafafa;
}
.portionDash{
    border-radius: 12px;
    background-color: white;
    width: 95%;
}

.tableScroll4{
    position: relative;
    height: 80vh;
    overflow-y: auto;
    display: block;
    background-color: white;
    width: 100%;
}

.depMod{
    width: 160vh;
}

.tableModal{
    width: fit-content;
    height: auto;
}

.tableDeploy{
    width: 73%!important;
    height: 60%;
    margin-top: 10%;
}


h7~h8{
    margin-left: 4%;
}
.addPatient{
    height: 50%;
    border: solid black 1px;
    margin-left: 3%;
    width: 92%;
    border-radius: 8px;
    padding: 2%;
}



.position{
    width: 95%;
    position: absolute;
    bottom: 5%;
    left: 41%;
}

.link{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 3%;
}



.location{
    margin-left: 1%;
    width: 73%;
    border-radius: 12px;
}

.stubs{
    width: 98%;
    border-radius: 8px;
}

.datePos{
    margin-top: 0.1%;
}

.dateForm{
    height: 26%;
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
#dateStored, #dateExp {
    width: 70%;
    height: 17%;
}


.sortPosition{
    margin-left: 2%;
}


.sortWidth{
    width: auto;
    height: auto;
}


.sortButton{ /*HSO*/
    margin-right: 1%;
}

.sortButton, .filterButton{ /*hso*/
    width: 90%;
}

.sfDiv{
    width: 160px;
}

.sfDiv select { /*hso*/
    /* styling */
    background-color: white;
    border: thin solid #000000;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.3em 3.5em 0.3em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}



select.sortButton, select.filterButton { /*HSO*/
    background-image:
            linear-gradient(45deg, transparent 50%, #f3f3f3 50%),
            linear-gradient(135deg, #f6f6f6 50%, transparent 50%),
            linear-gradient(to right, #1D7195, #1D7195);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

select.sortButton:focus, select.filterButton:focus { /*hso*/
    background-image:
            linear-gradient(45deg, white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, white 50%),
            linear-gradient(to right, gray, gray);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
