body {
    margin: 0;
    padding: 0;
    /*background-color: #a8c9d7;*/
}

.loginRow {
    display: flex;
}

.loginColumn {
    flex: 50%;
    padding: 5px;
}

.form-button {
    text-align: left;
}

.form-link {
    text-align: right;
}

.form-link:visited {
    color: teal;
}

.form-link:active {
    color: teal;
}

.form-link:hover {
    color: white;
}

.logInToText {
    color: #000000;
    text-align: center;
}

#login-box {
    margin-left: 4%;
    border-radius: 12px;
    width: 32%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
}

#login-form {
    /* margin-left: 4%; */
    border-radius: 12px;
    width: 40%;
    background-color: #435056;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    padding: 15px;
}

#username {
    margin-top: 4%;
}

.logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonLogin{
    background: #64b7da;
    border: 1px solid black;
    width: 50%;
    height: 40px;
    color: #000000 !important;
    margin-right: 10px;
    font-size: 120%;
    padding: 2px;
    border-radius: 20px;
}

#backdrop {
    /* width: 45%; */
    height: 55%;
    padding-top: 6%;
    /* margin-left: 4%; */
    margin-top: 1%;
    border-radius: 15px;
}

#backdrop2 {
    height: auto;
    width: 10%;
    margin-left: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}


.buttonLogin:hover {
    background: lightslategray;
}

#topBar {
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background: #647881;
    color: white;
    display: inline-flex!important;
}

.input-group-lg {
    width: 80%;
}

.input-group-lg {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#backdrop2 {
    width: 40%;
}

#forgot_pswd {
    margin-right: 38%;
}

footer {
    bottom: 0;
    padding: 0;
    color: white;
    background-color: #04628A;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}