body {
    margin: 0;
    padding: 0;
    background-color: #A8C9D7;
}

.loginRow {
    display: flex;
}

.loginColumn {
    flex: 50%;
    padding: 5px;
}

.form-button {
    text-align: left;
}

.form-link {
    text-align: right;
}

.form-link:visited {
    color: teal;
}

.form-link:active {
    color: teal;
}

.form-link:hover {
    color: white;
}

.logInToText {
    color: white;
    margin-top: 3%;
    text-align: center;
}

#login-box {
    margin-left: 4%;
    border-radius: 12px;
    width: 32%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
}

#login-form {
    /* margin-left: 4%; */
    border-radius: 12px;
    width: 32%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
    height: 100%;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#username {
    margin-top: 4%;
}

.logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#backdrop {
    /* width: 45%; */
    height: 55%;
    padding-top: 6%;
    /* margin-left: 4%; */
    margin-top: 1%;
    border-radius: 15px;
}

#backdrop2 {
    height: auto;
    width: 10%;
    margin-left: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.buttonLogin {
    border-radius: 7px;
    margin-left: 15%;
    padding-top: 2%;
    border: 1px solid gray;
    width: 70%;
    color: #fff;
    background: #124F88;
    margin-bottom: 5%;
}

.buttonLogin:hover {
    background: lightslategray;
}

#topBar {
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background: white;
}

.input-group-lg {
    width: 80%;
}

.input-group-lg {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#backdrop2 {
    width: 40%;
}

#forgot_pswd {
    margin-right: 38%;
}

footer {
    bottom: 0;
    padding: 0;
    color: white;
    background-color: #04628A;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}