body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.loginRow {
    display: flex;
}

.loginColumn {
    flex: 50%;
    padding: 5px;
}

.form-button {
    text-align: left;
    font-size: 1.5rem;
}

#forgot_pswd {
    color: #9C9C9C;
}

.form-link {
    text-align: center;
}

.form-link:visited {
    color: teal;
}

.form-link:active {
    color: teal;
}

.form-link:hover {
    color: white;
}

.logInToText {
    color: hsl(209, 62%, 19%);
    margin-top: 3%;
    text-align: center;
}

#login-box {
    margin-left: 4%;
    border-radius: 12px;
    width: 32%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
}

#login-form {
    /* margin-left: 4%; */
    border-radius: 12px;
    width: 32%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
    height: 100%;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

#pin,
#forgetPw {
    margin-top: 4%;
    width: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.continueBtn {
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid gray;
    width: 70%;
    color: #fff;
    background: #124F88;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.continueBtn:hover {
    background: lightslategray;
}

#username,
#password,
.formInpt {
    margin-top: 4%;
    width: 80%!important;
    padding-bottom: 2%;
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 90%!important;
}

.buttonLogin,
.buttonRegister {
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid gray;
    width: 70%;
    color: #fff;
    background: #124F88;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonLogin:hover {
    background: lightslategray;
}

.buttonRegister:hover {
    background: lightslategray;
}

.terms {
    text-align: center;
}

#resetPasContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    border-radius: 12px;
    border: none;
    margin-top: 2%;
    width: 35%;
    border: 1px solid #9C9C9C;
    background-color: #fff;
}

#resetbutton {
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid gray;
    width: 50%;
    color: #fff;
    background: #124F88;
    margin-bottom: 2%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resetText {
    margin-top: 5%;
    text-align: center;
}

#resetReq1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
}