/* ---------------------------------------------------
                   SSD MODULE CSS
--------------------------------------------------- */
#allocateButton{
    align-content: center;
}

#hDistrictContainer{
    margin-top: 5%;
    margin-left: 7%;
    padding-top: 2%;
    background-color: white;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
}

#hDistrictContainer h2 {
    margin-left: 2%;
}
#vaccineDeployments{
    width: 95%;
    border-radius: 12px;
    display: inline-block;
    margin-right: 7%;

}

#totalPopulation,#totalPopulationPerHD{
    padding: 2%;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
}

#totalPopulation{
    margin-bottom: 2%;
}

#vaccineDeploymentContent{
    margin: 5%;
}

#labelling{
    margin-left: 3%;
}

#distContent{
    margin-top: -2%;
}
