@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ============================================== SORTED STYLE CSS ==============================================*/
/* ---------------------------------------------------
                    General CSS
--------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#headingNav1, #headingNav2 {
    text-align: center;
}

#headingNav2 {
    font-size: 12px;
}

.sidebar-brand-icon{
    padding-bottom: 0%;
    margin-bottom: -12%;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 12px;
}

/*.navbar {*/
/*    padding: 15px 10px;*/
/*    background: #fff;*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    margin-bottom: 40px;*/
/*    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
/*}*/

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.buttonTop {
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    width: 12%;
    height: 40px;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
}

.buttonTop3{
    float: right;
    margin: 5px;
    background-color: #1D7195;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.buttontop4{
    display: block;
    float: left;
    margin-right: 10px;
}

.buttonTop2 {
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    width: 12%;
    height: auto;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
    padding: .2%;
    border-radius: 12px;
}

.buttonTop2:hover {
    background: #e7e7e7;
}

.buttonTop2:visited {
    background: white;
}


.genButton{
    float: right;
    position: relative;
}


#generateReportOptions{
    height: fit-content;
}


#DlRepNote{
    float: right;
    margin-bottom: 1%;
}

.topContainer{
    display: grid;
    width: 100%;
}



.buttonTop {
    border-radius: 12px;
}

.siteAddButton{
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    border-radius: 12px;
    width: 30%;
    height: 40px;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
    margin-bottom: 2%;
}

.buttonTop:hover {
    background: #e7e7e7;
}

.buttonTop:visited {
    background: white;
}

.search-container button {
    display: inline-block;
    padding: 6px 5px;
    background: whitesmoke;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 3%;
    height: auto;
}

.search-container button:hover {
    background: rgb(165, 165, 165);
}

.search-container{
    margin-bottom: 1%;
}

.searchDept{
    position: relative;
    float: left;
    width: 100%;
}



.buttonTransparent{
    background: transparent!important;
    border: transparent!important;
    width: 5%;
    height: 5%;
}

.hyperlink{
    text-decoration: underline;
    color: dodgerblue;
    font-size: 12px;
}

.searchSite{
    float: left;
    width: 65%!important;
}

.siteSearchIcon{
    width: 5% !important;
}


.editButton{
    float: right;
}

input[type=text]{
    font-size: 17px;
    height: auto;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
}




#postVacView .content-modal /*EIR, BARANGAY, HSO*/{
    padding: 0%;
    width: 81%;
}

#preVacView .content-modal /*EIR, BARANGAY, HSO*/{
    padding: 0%;
    width: 81%;
}

#postVacView h6, #preVacView h6{
    display: inline;
}

#postVacView button, #preVacView button{
    align-content: flex-end;
}

#postVac {
    color: #070101 !important;
}




#tablePadding{
    padding: 2%;
}

/* Modal Header (BARANGAY, HSO)*/
.modal-header{
    color: #fafafa;
    background-color: #04628A;
}
/*!* Modal Footer  (EIR, HSO)*!*/
.modal-footer{
    border: none!important;
    margin-top: 1%;
}

/* SIDEBAR STYLE */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #04628A;
    color: #fff;
    transition: all 0.3s;
    padding: .5%;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #04628A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff !important;
    background: #043D55;
}

#sidebar ul li a {
    color: #fff !important;
    background: #04628A;
;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #06425b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #04628A;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #04628A;
}

a.article,
a.article:hover {
    background: #04628a !important;
    color: #fff !important;
}

.btnTop {
    border: none;
    background: #dae6ef;
    padding: 1%;
}

.btnTop3{
    position: relative;
    float: right;
}


.timeBox {
    margin-bottom: -9%;
    margin-top: -6%;
    font-size: 86%;
}

#time {
    margin-bottom: -8%;
    font-size: 195%!important;
}


.upperBox {
    display: block !important;
    padding-left: 94% !important;
}

.upperBoxOG {
    margin-bottom: 1%;
}
/* Content Style */
#content {
    background-color: #dae6ef;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
#searchPatientQueue, #searchUsersMayor{
    width: 95%;
}

.brgyNav, .mayorNav{
    display: flex;
    justify-content: center;
    padding: 15px;
}

/*Mayors Module*/

.columnCnt{
    margin-left: 15%!important;
    color: #070101;
    margin-top: 0;
    margin-bottom: 0;
}

.mayorTable {
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
}

.buttonTransparentMayors {
    background: transparent!important;
    border: transparent!important;
}

.mayorsCnt p{
    color: #000;
    margin-left: 3%;
}

/* The Close Button (EIR, HSO)*/
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cancelBtn,
#addBtn {
    float: right;
    margin-right: 1rem;
}

.vaccineDescription {
    height: 2in;
    width: 5in;
}

/*Common CSS for EIR and HSO*/
.personalInfo,.categoryInfo,.addressInfo,.medicalInfo{
    margin-left: 40px;
    margin-right: 40px;
}

#otherTextField{
    display: none;
    margin-left: -70%;
}

#comorbidityList{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    display: none;
    padding: 15px;
    border: 2px solid;
    border-radius: 3px;
}

.listOfComorbidity{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.required:after{
    content: " *";
    color: red;
}
.navbarScreening {
    margin-bottom: 1%!important;
}

.search-containerScreening {
    margin-bottom: 0%!important;
    width: 205%;
    display: flex;
}

.modal-window { /*EIR, BARANGAY, HSO*/
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#deploymentSummary{ /*ssd*/
    margin-top: 5%;
    background-color: #f6f6f6;
    padding: 2%;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
}

barangayList{ /*EIR*/
    margin-left: 3%;
    color: #9C9C9C;
}

.depSummary .listPatientRow{
    margin-bottom: 5%;
}
/* ---------------------------------------------------
                    EIR MODULE CSS
--------------------------------------------------- */

/* ---------------------------------------------------
                   SSD MODULE CSS
--------------------------------------------------- */
#selectHealthDistrict{
    width: 100%;
    border-radius: 7px;
}

#allocateButton{
    align-content: center;
}

#selectDeployment{
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

#hDistrictContainer{
    margin-top: 5%;
    margin-left: 7%;
    padding-top: 2%;
    background-color: white;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
}

#hDistrictContainer h2 {
    margin-left: 2%;
}
#vaccineDeployments{
    padding-top: 2%;
    width: 95%;
    border-radius: 12px;
    display: inline-block;
    margin-right: 7%;
    padding: 2%;
    background-color: #f6f6f6;
}

#totalPopulation,#totalPopulationPerHD{
    padding: 2%;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
}

#totalPopulation{
    margin-bottom: 2%;
}

#vaccineDeploymentContent{
    margin: 5%;
}

#labelling{
    margin-left: 3%;
}

#distContent{
    margin-top: -2%;
}
/* ---------------------------------------------------
                    HSO MODULE CSS
--------------------------------------------------- */
#vaccineName,
#vaccineManufacturer,
#vaccineType,
#vaccineEfficacy,
#dosageRequired,
#dosageInterval,
#minimumTemperature,
#maximumTemperature,
#lifeSpan {
    height: auto;
}

.AddHealthD-option > ul{
    list-style-type: none;
    column-count: 4;
    column-gap: 2rem;
}

input[type=text1] {
    margin-top: 8px;
    font-size: 17px;
    border: whitesmoke;
    background: whitesmoke;
    width: 75%;
    height: auto;
}

.vaccineType, #qty{
    width: 95%;
    height: 18%;
}

.viewReportBtn, .archiveVaxBtn {
    background: #DCF4FF;
    border: 1px solid black;
    width: fit-content;
    height: 40px;
    color: #000!important;
    margin: 5%;
    border-radius: 12px;
    font-size: 85%;
}

.CounterReportContainer {
    margin-top: 10%;
}

.editRepBtn{
    margin-top: 2%;
}
.counter-box { /*HSO*/
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p { /*HSO*/
    margin: 5px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
}

.counter-box i { /*HSO*/
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    line-height: 28px
}

.counter-box.colored1 {
    background: #68A0B8
}

.counter-box.colored1 p,
.counter-box.colored1 i,
.counter-box.colored1 .counter {
    color: #fff
}

.counter-box.colored2 {
    background: #4F91AD
}

.counter-box.colored2 p,
.counter-box.colored2 i,
.counter-box.colored2 .counter {
    color: #fff
}
.counter-box.colored3 {
    background: #3681A1
}

.counter-box.colored3 p,
.counter-box.colored3 i,
.counter-box.colored3 .counter {
    color: #fff
}

.counter-box.colored4 {
    background: #1D7195
}

.counter-box.colored4 p,
.counter-box.colored4 i,
.counter-box.colored4 .counter {
    color: #fff
}

.tableReport {
    width: 100%!important;
    background-color: white;
    border-radius: 12px;
    margin-top: 1%;
}

.tableVax{
    background-color: white;
    border-radius: 12px;
    margin-top: 1%;
}

.depSum h5{
    padding: 2%;
}

/* Modal Content/Box */ /*HSO*/
.content-modal{ /*HSO*/
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

.navbarDep{
    background: #ececec;
    margin-bottom: 1%;
    border-radius: 5px;
    font-size: 18px;
}

#navbarNav ul li.active>a, a[aria-expanded="true"]{
    color: #fff;
    background: #06425b;
}

#navbarNav ul li a:hover {
    color: #fff !important;
    background: #1D7195;
}


#navbarNav ul li{
    width: 30vh;
    margin: 3%;
    text-align: center;
}

.content-modal-table{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: fit-content;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

.content-modal-table1{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 70%;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.counterColumn{ /*HSO*/
    float: right;
    width: 100%;
    margin: 2%;
    margin-top: 4%;
}

.counterRow {
    width: 100%;
}

.contactWidth, .districtWidth{
    width: 40%;
    margin: 1%;
}



#HealthDModalSort{
    margin: 2%;
}

.tableContainer{
    background-color: #ececec;
    padding: 1%;
    border-radius: 12px;
}

.AddHealthD-option{ /*HSO*/
    border: 3px solid lightgray;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
}

#iconBrowse{ /*HSO*/
    display:inline-block;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    text-align: center;
}

#upload-content{ /*HSO*/
    margin-top: 2%;
}

/*HSO*/
#addVaccineModal{
    margin-left: 4%;
    margin-right: -10%;
}

#addNewVaccineModal{
    margin-left: 4%;
    margin-right: 4%;
}

#addDeploymentModal{
    margin-left: 3%;
    margin-right: 3%
}

.actionButt{
    padding: 1.5vh;
}

#description{
    margin-left:5%;
    margin-right: 5%;
    padding: 2%;
}

.tablePatient,.tableVaccine {
    width: 100%!important;
    background-color: white;
}

#labelDosage{
    margin-top: 9%;
}

.marker{
    color: transparent!important;
    font-size: 40%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #17A2B8;
}
.dropdown-menu{
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}
.dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
}

.depSummary {
    float: right;
    border-radius: 10px;
    width: 100%;
    max-height: fit-content;
    min-height: 65vh;
    padding: 3%;
    margin-top: 2%;
    background-color: #68A0B8;
    color: white;
    margin: 2%;
    margin-top: 4%;
}
.bold{
    font-weight: 800!important;
}

.listPatient-box h3{
    color: white;
}

#counter{
    width: 26%;
    font-size: 60%;
    float: right;
    color: cadetblue;
    margin-top: 1%;
}

.

.closeModal{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#unarchiveContent{
    height: auto;
    margin-top: 1%;
}

.tablePatientQueue{
    margin-top: 2%;
}


/* ---------------------------------------------------
                    BARANGAY MODULE CSS
--------------------------------------------------- */

#barangayHomeContent{
    margin-left: -2%;
    margin-right: 5%;
}

.patientQCounter {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding:2%;

}

.patientQueueButtons p,
h6 {
    text-align: center;
    color: #ffffff;
}

.patientQueueButtons h6 {
    padding-top: 10%;
}

#confirmationNotif{
    border-radius: 12px;
    font-size: 25px;
    text-align: left;
    width: 100%;
}

#numberAvailable{
    background: #68A0B8;
}

#numberSent{
    background: #4F91AD;
}

#claimedStubs{
    background: #3681A1;
}

#redirectStub{
    background: #1D7195;
}

/* ---------------------------------------------------
                   VACCINATION PERSONNEL MODULE
--------------------------------------------------- */
.tableScreening {
    margin-top:0%!important;
    background-color: white;
    border-radius: 12px;
}

.paddingLeft{
    padding-left: 3%;
}

.navbarScreening {
    margin-bottom: 1%!important;
}

.search-containerScreening {
    margin-bottom: 0%!important;
    width: 205%;
    display: flex;
}

#patientRow h6, #patientRow form{
    margin-left: 4%;
}

#patientRow p{
    margin-left: 7%;
    font-size: 90%;
    color: black;
}

#patientRow form{
    margin-bottom: 3%;
}

input[name=vitals]{
    border-radius: 5px;
    border: solid black 1px;
    width: 70%;
}
#pulseR {
    margin-left: 7%;
}
#tempR {
    margin-left: 4%;
}
#bpRDias {
    margin-left: 4%;
}
#bpRSys {
    margin-left: 5%;
}
#patientRow h5 {
    margin-left: 3%;
}



#searchPatientVaxPer{
    width: 95%;
}

.tableMonitoring {
    width: 100%!important;
    height: 60%;
}

.addVitals{
    border: none;
}

.navbarMonitoring {
    margin-bottom: 1%!important;
}

#searchPatientBtn {
    border: none;
    background-color: ghostwhite;
    margin-left: 1%;
}

.columnName {
    text-align: center;
}

.fourthCol {
    font-size: 78%;
}

/*======================================================================
/* ============================================== UNSORTED STYLE CSS ==============================================*/



/* ---------------------------------------------------
    COMMON CSS
----------------------------------------------------- */
/*



#scannerTxt {
    margin-top: 5%;
}
.patientLine {
    width: 100%;
}
#searchPatientEIR, #searchPatientBrgy{
    width: 80%;
}

#searchPatientVaxPer, #searchPatientQueue{
    width: 95%;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#searchVaccine,#searchPatient,#searchPersonnel{
    width: 60%;
}

#searchReportHSO{
    width: 100%;
}

#searchVaccineHSO{
    width: 65%;
}

#searchpatientHSO{
    width: 100%;
}

input[type=textDesc]{
    height: 60%;
}

.selectpicker {
    width: 150px;
    height: 40px;
}


.addNewVaccineH3 {
    color: black;
}

.searchDept input[type=text] {
    width: 100% !important;
}



/*Text Inputs and drop down menu*/
input[type=text3],select{
    display: inline-block;
    border-radius: 8px;
    margin-top: -1%;
}

input[type=date]{
    width: 95%;
    height:auto;
    margin-top: 2px;
    padding: 3px;
    display: inline-block;
    border-radius: 8px;
}

.input{
    margin-top: 2%;
}

#uploadListPatient{
    border: 2px solid lightgray;
    border-radius: 8px;
    height: 100px;
    position: relative;
}

#uploadListPatient h4{
    margin: 10px;
}

#uploadListPatient a{
    position: absolute;
    bottom:0;
    right:0;
    margin: 5px;
}

.cred{
    padding-left: 15%;
}

.label1{ /*HSO*/
    margin-top: 3%;
}

.modal{
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}




/*Text Inputs*/
input[type=text3],select{
    width: 95%;
    padding: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
}

input[type=text4]{
    width: 20%;
    padding: 7px;
    margin: 8px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
}

input[type=text]:disabled{
    margin-left: 3%;
    width: 50%;
    padding: 2%;
    border: 2px solid #04628A;
    border-radius: 8px;
}

.passwordPos{
    margin-left:3.5%!important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}



.AddHealthD-option ul{
    columns:2;
    list-style-type: none;
}

#uploadListPatient{
    border: 2px solid lightgray;
    border-radius: 8px;
    height: 100px;
    position: relative;
}

#uploadListPatient a{
    position: absolute;
    bottom:0;
    right:0;
    margin: 2px;
}

.listPatientColumn{
    float: right;
    border: solid gray 2px;
    border-radius: 5px;
    width: 25%;
    height: auto;
    margin-left: 2%;
}



.listPatientRow{
    width: auto;
}

.listPatientBox{
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center;
}

.row2{
    height: fit-content;
    margin:2%;
}

.tableCenterCont{
    text-align: center;
}

.tableScroll1{
    position: relative;
    height: 70vh;
    overflow: auto;
    display: block;
    background-color: white;
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 12px;
}
.tableScroll2{
    position: relative;
    height: 70vh;
    overflow: auto;
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 1%;
    border-radius: 12px;
}

.tableScroll3{
    position: relative;
    height: 50vh;
    overflow-y: auto;
    display: block;
    background-color: white;
    width: 95%;
}

.tableScroll4{
    position: relative;
    height: 80vh;
    overflow-y: auto;
    display: block;
    background-color: white;
    width: 100%;
}


.tableModal{
    width: fit-content;
    height: auto;
}

.tableDeploy{
    width: 73%!important;
    height: 60%;
    margin-top: 10%;
}


h7~h8{
    margin-left: 4%;
}
.addPatient{
    height: 50%;
    border: solid black 1px;
    margin-left: 3%;
    width: 92%;
    border-radius: 8px;
    padding: 2%;
}



.position{
    width: 95%;
    position: absolute;
    bottom: 5%;
    left: 41%;
}

.link{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 3%;
}



.location{
    margin-left: 1%;
    width: 73%;
    border-radius: 12px;
}

.stubs{
    width: 98%;
    border-radius: 8px;
}

.datePos{
    margin-top: 0.1%;
}

.dateForm{
    height: 26%;
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
#dateStored, #dateExp {
    width: 70%;
    height: 17%;
}


.sortPosition{
    margin-left: 2%;
}


.buttonTop5{
    float: right;
    background-color: #1D7195;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sortWidth{
    width: auto;
    height: auto;
}


.intendedVax {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:17px;
    width:100%;
}

.basicInfoSizes{
    height: 18%!important;
    margin: 0!important;
}

.infoPosition{
    margin-top: 4%;
}

#birthdate{
    margin: 4%;
}

.details{
    margin-top: -2%;
}






.sfDiv select {
    /* styling */
    background-color: white;
    border: thin solid #000000;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.3em 3.5em 0.3em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}



select.sortButton, select.filterButton {
    background-image:
            linear-gradient(45deg, transparent 50%, #f3f3f3 50%),
            linear-gradient(135deg, #f6f6f6 50%, transparent 50%),
            linear-gradient(to right, #1D7195, #1D7195);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

select.sortButton:focus, select.filterButton:focus {
    background-image:
            linear-gradient(45deg, white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, white 50%),
            linear-gradient(to right, gray, gray);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.sortButton{
    margin-right: 1%;
}

.sortButton, .filterButton{
    width: 89%;
}

h5~select {
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}




.notif {
    border-radius: 12px;
    border: #000 solid 1px;
    margin-right: auto;
    margin-left: auto;
}

.required:after{
    content: " *";
    color: red;
}
.navbarScreening {
    margin-bottom: 1%!important;
}

.search-containerScreening, .search-containerMonitoring {
    margin-bottom: 0%!important;
    width: 205%;
    display: flex;
}

/*HSO MODULE*/
#deploymentModal{
    margin-left: 3%;
    margin-right: 3%;
}

#healthDMain{
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
}

#siteModal{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.tableHeader{
    background-color: #034E6E;
    color: #fafafa;
}
.portionDash{
    border-radius: 12px;
    background-color: white;
    margin: .3em;
    padding: 3%;
}


.jabsPortion{
    height: 30vh;
}

.vaxStats{
    height: 60vh;
}

.vaxInv{
    height: 60vh;
}

.vaxCount{
    height: 30vh;
}
