@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#headingNav1, #headingNav2 {
    text-align: center;
}

#headingNav2 {
    font-size: 12px;
}

.sidebar-brand-icon{
    padding-bottom: 0%;
    margin-bottom: -12%;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 12px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #04628A;
    color: #fff;
    transition: all 0.3s;
    padding: .5%;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #04628A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff !important;
    background: #043D55;
}

#sidebar ul li a {
    color: #fff !important;
    background: #04628A;
;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #06425b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #04628A;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #04628A;
}

a.article,
a.article:hover {
    background: #04628a !important;
    color: #fff !important;
}

.btnTop {
    border: none;
    background: #dae6ef;
    padding: 1%;
}

.btnTop3{
    position: relative;
    float: right;
}
.timeBox {
    margin-bottom: -9%;
    margin-top: -6%;
    font-size: 86%;
}

#time {
    margin-bottom: -8%;
    font-size: 195%!important;
}


.upperBox {
    display: block !important;
    padding-left: 94% !important;
}

.upperBoxOG {
    margin-bottom: 1%;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background-color: #dae6ef;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    COMMON CSS
----------------------------------------------------- */

.buttonTop {
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    width: 12%;
    height: 40px;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
}

.buttonTop3{
    float: left;
    margin: 5px;
    width: auto;
}

.buttontop4{
    display: block;
    float: left;
    margin-right: 10px;
}

.buttonTop2 {
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    width: 12%;
    height: auto;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
    padding: .2%;
    border-radius: 12px;
}

.buttonTop2:hover {
    background: #e7e7e7;
}

.buttonTop2:visited {
    background: white;
}


.genButton{
    float: right;
    margin-right: .5%;
}


#generateReportOptions{
    height: fit-content;
}


#DlRepNote{
    float: right;
    margin-bottom: 1%;
}

.topContainer{
    display: grid;
    width: 100%;
}



.buttonTop {
    border-radius: 12px;
}

.siteAddButton{
    display: block;
    float: right;
    background: ghostwhite;
    border: 2px solid black;
    border-radius: 12px;
    width: 30%;
    height: 40px;
    color: black!important;
    margin-right: 10px;
    font-size: 80%;
    margin-bottom: 2%;
}

.buttonTop:hover {
    background: #e7e7e7;
}

.buttonTop:visited {
    background: white;
}

.search-container button {
    display: inline-block;
    padding: 6px 5px;
    background: whitesmoke;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 3%;
    height: auto;
}

.search-container button:hover {
    background: rgb(165, 165, 165);
}

.search-container{
    margin-bottom: 1%;
}

.searchDept{
    position: relative;
    float: left;
    width: 100%;
}

.buttonTransparent{
    background: transparent!important;
    border: transparent!important;
    width: 5%;
    height: 5%;
}

.hyperlink{
    text-decoration: underline;
    color: dodgerblue;
    font-size: 12px;
}

.searchSite{
    float: left;
    width: 65%!important;
}

.siteSearchIcon{
    width: 5% !important;
}


.editButton{
    float: right;
}

input[type=text]{
    font-size: 17px;
    height: auto;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-height: fit-content;
}



#searchPatientEIR, #searchPatientBrgy{
    width: 80%;
}

#searchPatientVaxPer{
    width: 95%;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#searchVaccine,#searchPatient,#searchPersonnel{
    width: 60%;
}

#searchReportHSO{
    width: 100%;
}

#searchVaccineHSO{
    width: 65%;
}

#searchpatientHSO{
    width: 100%;
}

input[type=textDesc]{
    height: 60%;
}

.selectpicker {
    width: 150px;
    height: 40px;
}


.addNewVaccineH3 {
    color: black;
}

.searchDept input[type=text] {
    width: 100% !important;
}

/* Modal Content/Box */



.AddHealthD-option{
    border: 3px solid lightgray;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
}

/* The Close Button */


/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cancelBtn,
#addBtn {
    float: right;
    margin-right: 1 rem;
}

.vaccineDescription {
    height: 2in;
    width: 5in;
}

.vaccineName,
.vaccineManufacturer,
.vaccineType,
.vaccineEfficacy,
.dosageRequired,
.dosageInterval,
.minimumTemperature,
.maximumTemperature,
.lifeSpan {
    width: 5in;
    height: auto;
}

.AddHealthD-option > ul{
    list-style-type: none;
    column-count: 4;
    column-gap: 2rem;
}


/* ---------------------------------------------------
    MANAGE REPORT
----------------------------------------------------- */

input[type=text1] {
    margin-top: 8px;
    font-size: 17px;
    border: whitesmoke;
    background: whitesmoke;
    width: 75%;
    height: auto;
}

.viewReportBtn {
    background: #DCF4FF;
    border: 1px solid black;
    width: 60%;
    height: 40px;
    color: #000!important;
    margin-right: 10px;
    border-radius: 12px;
    font-size: 85%;
}


.CounterReportContainer {
    margin-top: 10%;
}

.editRepBtn{
    margin-top: 2%;
}
.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}



.tableReport {
    width: 80%!important;
}


.depSum h5{
    padding: 2%;
}

/* Modal Header */
.modal-header{
    color: #fafafa;
    background-color: #04628A;
}


/*Text Inputs and drop down menu*/
input[type=text3],select{
    display: inline-block;
    border-radius: 8px;
    margin-top: -1%;
}

input[type=date]{
    width: 95%;
    height:auto;
    margin-top: 2px;
    padding: 3px;
    display: inline-block;
    border-radius: 8px;
}

.input{
    margin-top: 2%;
}

#uploadListPatient{
    border: 2px solid lightgray;
    border-radius: 8px;
    height: 100px;
    position: relative;
}

#uploadListPatient h4{
    margin: 10px;
}

#uploadListPatient a{
    position: absolute;
    bottom:0;
    right:0;
    margin: 5px;
}

.cred{
    padding-left: 15%;
}

.label1{
    margin-top: 3%;
}

.modal{
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}


/* Modal Content/Box */
.content-modal{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

.content-modal-table{
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: fit-content;
    /*Could be more or less, depending on screen size */
    border-radius: 12px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.counterColumn{
    float: right;
    width: 20%;
}

.counterRow {
    margin-left: 15%;
    width: 85%;
}


/* Modal Header */

.modal-header {
    color: #fafafa;
    background-color: #04628A;
}



/* Modal Footer */
.modal-footer{
    border: none!important;
}


/*Text Inputs*/
input[type=text3],select{
    width: 95%;
    padding: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
}

input[type=text4]{
    width: 20%;
    padding: 7px;
    margin: 8px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
}

input[type=text]:disabled{
    margin-left: 3%;
    width: 50%;
    padding: 2%;
    border: 2px solid #04628A;
    border-radius: 8px;
}

.passwordPos{
    margin-left:3.5%!important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.modal-window {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.AddHealthD-option ul{
    columns:2;
    list-style-type: none;
}

#uploadListPatient{
    border: 2px solid lightgray;
    border-radius: 8px;
    height: 100px;
    position: relative;
}

#uploadListPatient a{
    position: absolute;
    bottom:0;
    right:0;
    margin: 2px;
}

.listPatientColumn{
    float: right;
    border: solid gray 2px;
    border-radius: 5px;
    width: 25%;
    height: auto;
    margin-left: 2%;
}



.listPatientRow{
    width: auto;
}

.listPatientBox{
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center;
}

.row2{
    height: fit-content;
    margin:2%;
}

.tableDep{
    width: 73%!important;
    height: 60%;
    margin-top: 2%;
}

.tableModal{
    width: fit-content;
    height: auto;
}

.tableDeploy{
    width: 73%!important;
    height: 60%;
    margin-top: 10%;
}
.tableVax{
    margin-top: 10%;
}

.tableBrgy {
    background-color: white;
    border-radius: 12px;
}

h7~h8{
    margin-left: 4%;
}
.addPatient{
    height: 50%;
    border: solid black 1px;
    margin-left: 3%;
    width: 92%;
    border-radius: 8px;
    padding: 2%;
}

.position{
    width: 95%;
    position: absolute;
    bottom: 5%;
    left: 41%;
}

.link{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 3%;
}



.location{
    margin-left: 1%;
    width: 73%;
    border-radius: 12px;
}

.stubs{
    width: 98%;
    border-radius: 8px;
}

.datePos{
    margin-top: 0.1%;
}

.dateForm{
    height: 26%;
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.sortPosition{
    margin-left: 2%;
}

.sortWidth{
    width: auto;
    height: auto;
}

.contactWidth{
    width: 75%!important;
}

.districtWidth{
    width: 75%!important;
}

#HealthDModalSort{
    margin: 2%;
}


.intendedVax {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:17px;
    width:100%;
}

.basicInfoSizes{
    height: 18%!important;
    margin: 0!important;
}

.infoPosition{
    margin-top: 4%;
}

#birthdate{
    margin: 4%;
}

.details{
    margin-top: -2%;
}

#iconBrowse{
    display:inline-block;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    text-align: center;
}

#upload-content{
    margin-top: 2%;
}

.organizeDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 1%;
    width: 35%;
    float: left;
}



.organizeDiv select {
    /* styling */
    background-color: white;
    border: thin solid #000000;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */

select.sortButton, select.filterButton {
    background-image:
            linear-gradient(45deg, transparent 50%, #f3f3f3 50%),
            linear-gradient(135deg, #f6f6f6 50%, transparent 50%),
            linear-gradient(to right, #007bfe, #007bfe);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

select.sortButton:focus, select.filterButton:focus {
    background-image:
            linear-gradient(45deg, white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, white 50%),
            linear-gradient(to right, gray, gray);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.sortButton{
    margin-right: 1%;
}

 h5~select {
     border: 1px solid;
     border-radius: 0.25em;
     padding: 0.25em 0.5em;
     font-size: 1rem;
     cursor: pointer;
     line-height: 1.1;
     background-color: #fff;
     background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.patientQCounter {
    background-color: white;
    width: 18%;
    height: auto;
    margin-left: 2%;
    border-radius: 12px;
}

.patientQueueButtons p,
h6 {
    text-align: center;
}

.patientQueueButtons h6 {
    padding-top: 10%;
}

#confirmationNotif {
    border-radius: 12px;
    font-size: 25px;
    text-align: left;
    margin-left: 7%;
}

.patientQueueButtons {
    display: flex;
}

/* ---------------------------------------------------------------------------------- */
/*CSS For Personnel Vaccination*/
/* ---------------------------------------------------------------------------------- */
#patientRow h6, #patientRow form{
    margin-left: 4%;
}

#patientRow p{
		margin-left: 7%;
        font-size: 90%;
		color: black;
}

#patientRow form{
    margin-bottom: 3%;
}

input[name=vitals]{
    border-radius: 5px;
    border: solid black 1px;
    width: 70%;
}
#pulseR {
    margin-left: 7%;
}
#tempR {
    margin-left: 4%;
}
#bpRDias {
    margin-left: 4%;
}
#bpRSys {
    margin-left: 5%;
}
#patientRow h5 {
    margin-left: 3%;
}

#postVacView .content-modal {
    padding: 0%;
    width: 81%;
}

#preVacView .content-modal {
    padding: 0%;
    width: 81%;
}

#postVacView h6, #preVacView h6{
    display: inline;
}

#postVacView button, #preVacView button{
    align-content: flex-end;
}

#postVac {
    width: 110%;
    font-size: smaller;
    color: white!important;
    border-radius: 14px;
    border: solid 1px black;
}

/* ------------------------------------------------------------------- */
/* ------------------------CSS for SSD MODULE ----------------------- */
#selectHealthDistrict{
    width: 100%;
    border-radius: 7px;
}

#allocateButton{
    margin-left: 38%;
}

#selectDeployment{
    width: 100%;
    display: inline-block;
    margin-left: 7%;
    height: 20%;
}

#hDistrictContainer{
    margin-top: 5%;
    margin-left: 7%;
    padding-top: 2%;
    background-color: white;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid black;
}

#vaccineDeployments{
    padding-top: 2%;
    width: 95%;
    border-radius: 12px;
    display: inline-block;
    margin-right: 7%;
    padding: 2%;
    background-color: #f6f6f6;
}

#totalPopulation,#totalPopulationPerHD{
    padding: 2%;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
}

#totalPopulation{
    margin-bottom: 2%;
}

#vaccineDeploymentContent{
    margin: 5%;
}

#labelling{
    margin-left: 3%;
}

.tableBrgy {
    background-color: white;
    border-radius: 12px;
    margin-top: 2%;
}

#deploymentSummary{
    margin-top: 12%;
    background-color: #f6f6f6;
    padding: 2%;
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
}

.marker{
    color: transparent!important;
    font-size: 40%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #17A2B8;
}
.dropdown-menu{
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}
.dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
}

.depSummary {
    border: solid gray 2px;
    border-radius: 5px;
    width: 25%;
    max-height: fit-content;
    min-height: 100%;
    margin-left: 2%;
    padding: 1%;
    margin-top: 2%;
}
.bold{
    font-weight: 800!important;
}

#counter{
    width: 26%;
    font-size: 60%;
    float: right;
    color: cadetblue;
    margin-top: 1%;
}

.barangayList{
    margin-left: 3%;
    color: #9C9C9C;
}

.closeModal{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}




#unarchiveContent{
    height: auto;
}

.depSummary .listPatientRow{
    margin-bottom: 5%;
}
/* ---------------------------------------------------------------------------------- */
/*CSS for EIR MODULE*/
.labelRow{
    text-align: center;
}

.consent{
    margin: 20px 0px 0px 58px;
}

.personalInfo,.categoryInfo,.addressInfo,.medicalInfo{
    margin-left: 40px;
    margin-right: 40px;
}

#otherTextField{
    display: none;
    margin-left: -70%;
}

#comorbidityList{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    display: none;
    padding: 15px;
    border: 2px solid;
    border-radius: 3px;
}

.listOfComorbidity{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.required:after{
    content: " *";
    color: red;
}

.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPart{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Home Page -- EIR Module*/
.vaccination, .deployments{
    background-color: white;
    width: 40%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
}

.deployments {
    margin-left: 7% !important;
}

.dash {
    display: inline;
    text-align: center;
    margin-top: 2%;
}

.dash h5 {
    padding-top: 2%;
}

.perBarangay {
    display: inline-block;
    margin-left: 7%;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    margin-top: 3%;
}

.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPart{
    margin-bottom: 1%;
}

/* Home Page -- EIR Module*/
.vaccination, .deployments{
    background-color: white;
    width: 40%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
}

.deployments {
    margin-left: 7% !important;
}

.dash {
    display: inline;
    text-align: center;
    margin-top: 2%;
}

.dash h5 {
    padding-top: 2%;
}

.perBarangay {
    display: inline-block;
    margin-left: 7%;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    margin-top: 3%;
}

.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPart{
    margin-bottom: 1%;
}

/* Home Page -- EIR Module*/
.vaccination, .deployments{
    background-color: white;
    width: 40%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
}

.deployments {
    margin-left: 7% !important;
}

.dash {
    display: inline;
    text-align: center;
    margin-top: 2%;
}

.dash h5 {
    padding-top: 2%;
}

.perBarangay {
    display: inline-block;
    margin-left: 7%;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    margin-top: 3%;
}

.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPart{
    margin-bottom: 1%;
}

/* Home Page -- EIR Module*/
.vaccination, .deployments{
    background-color: white;
    width: 40%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
}

.deployments {
    margin-left: 7% !important;
}

.dash {
    display: inline;
    text-align: center;
    margin-top: 2%;
}

.dash h5 {
    padding-top: 2%;
}

.perBarangay {
    display: inline-block;
    margin-left: 7%;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    margin-top: 3%;
}

.navbar{
    margin-top: 2%;
    margin-bottom: 2%;
}

.topPart{
    margin-bottom: 1%;
}

/* Home Page -- EIR Module*/
.vaccination, .deployments{
    background-color: white;
    width: 40%;
    border-radius: 12px;
    display: inline-block;
    margin-left: 7%;
    margin-top: 2%;
}

.deployments {
    margin-left: 7% !important;
}

.dash {
    display: inline;
    text-align: center;
    margin-top: 2%;
}

.dash h5 {
    padding-top: 2%;
}

.perBarangay {
    display: inline-block;
    margin-left: 7%;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    margin-top: 3%;
}