/* ---------------------------------------------------
                   VACCINATION PERSONNEL MODULE
--------------------------------------------------- */
.tableScreening {
    margin-top:2%!important;
    background-color: white;
    border-radius: 12px;
}
.tableMonitoring {
    margin-top:2%!important;
    background-color: white;
    border-radius: 12px;
}

.paddingLeft{ /*HSO*/
    padding-left: 3%;
}

.navbarScreening {
    margin-bottom: 1%!important;
}

.search-containerScreening { /*personnel*/
    margin-bottom: 0%!important;
    width: 205%;
    display: flex;
}

#patientRow h6, #qrView h6{
    margin-left: 4%;
}

#patientRow p, #qrView p{
    margin-left: 7%;
    font-size: 90%;
    color: black;
}

#patientRow form, #qrView form{
    margin-bottom: 3%;
}

#delButt {
    float: right;
    margin: 0px;
}

input[name=vitals]{
    border-radius: 5px;
    border: solid black 1px;
    width: 50%;
}

#patientRow h5, #qrView h5 {
    margin-left: 3%;
}

.addVitals{
    border: none;
}


.columnName {
    text-align: center;
}

.fourthCol {
    font-size: 78%;
}

.navbarScreening {
    margin-bottom: 1%!important;
}